@font-face {
  font-family: Joschua_Gumpert_Schriftart;
  src: url("/public/font.otf") format("opentype");
}

.vimeoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.zoom {
  max-width: 100%;
}

.lineWrapper {
  margin-top: 16px;
  margin-bottom: 32px;
  height: 40px;
  width: 100%;
  background-size: contain;

  background-repeat: no-repeat;
  background-image: url('/lines1.png');
}

.lineWrapper2 {
  position: relative;
  margin-top: 32px;
  margin-bottom: 16px;
  height: 130px;
  margin-right: 0;
  width: 100%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('/lines2.png');

}

.lineWrapper3 {
  margin-top: 16px;
  height: 120px;
  width: 100%;
  background-size: contain;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-image: url('/lines3.png');

}

.lineWrapper4 {
  margin-top: 16px;
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('/lines4.png');
  margin-top: 32px;

}

.vimeoVideo {
  width: 880px;
  max-width: 100%;
}

.headline2 {
  text-transform: uppercase;
  font-family: Joschua_Gumpert_Schriftart;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  line-height: 370px;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.textSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.gradientWrapper {
  padding: 22px 0px;
  background-image: linear-gradient(#e3eeed, white,#e3eeed);
}

#page {
  min-height: 100%;
  max-width: 100%;
}

.paragraph {
  max-width: 90%;
  max-width: 620px;
  padding: 16px;
  margin: 16px 0;
  font-size: 22px;
  text-align: center;
  color: #89a4b3;
}

.headline3 {
  padding: 16px;
  margin: 16px 0;
  color: #89a4b3;
}

.paragraphBold {
  max-width: 90%;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #89a4b3;
}

.header {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/bg.jpg');
  box-shadow:  1px 6px 25px rgba(0,0,0,0.35)
}

.header .paragraph {
  color: white;
}

.header .paragraphBold {
  color: white;
}

.header-text {
  display: flex;
  align-items: center;
}

.headline {
  font-family: Joschua_Gumpert_Schriftart;
  font-size: 92px;
  font-weight: bold;
  margin: 32px 0;
  color: white;
}

.videoWrapper {
  position: relative;
}

.video {
  height: 370px;
  width: 100%;
  object-fit: cover;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  box-shadow:  1px 6px 25px rgba(0,0,0,0.35)
}


.content {
  top: 0;
  position: absolute;
  z-index: 100;
  height: 370px;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: 52px;
  }

  .paragraph {
    font-size: 18px;
  }

  .paragraphBold {
    font-size: 18px;
  }

  .vimeoWrapper {
    margin: 22px 0;
    padding: 22px;
    max-width: 100%;
  }

  .headline2 {
    font-size: 18px;
    line-height: 200px;
  }

  .video {
    height: 200px;
  }

  .content {
    height: 200px;
  }
}

.footer {
  padding: 64px 0px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-image: url('/bg.jpg');
  align-items: center;
}