@font-face {
  font-family: Joschua_Gumpert_Schriftart;
  src: url("/public/font.otf") format("opentype");
}

.headline2 {
  text-transform: uppercase;
  font-family: Joschua_Gumpert_Schriftart;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  line-height: 150px;
}

.textSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page {
  min-height: 100%;
  max-width: 100%;
}

.paragraph {
  max-width: 90%;
  max-width: 620px;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
}

.paragraphBold {
  max-width: 90%;
  max-width: 620px;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  font-weight: bold;
}

.header {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-text {
  display: flex;
  align-items: center;
}

.headline {
  font-family: Joschua_Gumpert_Schriftart;
  font-size: 72px;
  font-weight: bold;
  color: #0c1122;
  margin: 32px 0;
}

.videoWrapper {
  position: relative;
}

.video {
  height: 150px;
  width: 100%;
  object-fit: cover;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.content {
  top: 0;
  position: absolute;
  z-index: 100;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
